@model BookingClientApp.Models.UserViewModel

@{
    ViewData["Title"] = "Profile";
}

<h2>Welcome, @Model.FirstName @Model.LastName</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a href="@Url.Action("UserReservations", "Reservation")">Your Reservations</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("CheckAvailability", "Reservation")">Make a New Reservation</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("CompleteProfile", "Reservation")">Edit Your Profile</a>
    </li>
</ul>
